{% extends 'base/base.html' %}

{% block content %}
    
    <div class="auth-container">
        <div class="row justify-content-center mx-2">
            <div class="auth-card text-center">
                <div class="auth-header mb-4">
                    Do you really want to delete {{ text }}?
                </div>
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="text-center mt-2">
            
                {% if text == 'this post' %}
                    <a href="{% url 'project-post-details' object.project.pk object.pk %}">Back to post details</a>
                {% else %}
                    <a href="{% url 'project-details' object.pk %}">Back to project details</a>
                {% endif %}
            
            </div>
        </div>
    </div>
    
{% endblock %}
