{% extends 'base.html' %}

{% block content %}
<div class="auth-container text-center text-center">
    <div class="card auth-card upload-image">
        <h3 class="text-center mb-4">Add Photo</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                {{ form.image.label_tag }}
                {{ form.image }}
            </div>

            <div class="mb-3">
                {{ form.caption.label_tag }}
                {{ form.caption }}
            </div>

            <button type="submit" class="btn btn-primary w-100 auth-button">Upload</button>
        </form>
    </div>
</div>
{% endblock %}
