@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");


html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #1f2122;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #121212;
    color: #ffffff;
}

a {
    color: #CCC;
    text-decoration: none !important;
}

a:hover {
    color: #5ce1e6;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 700;
}

ul {
    margin-bottom: 0px;
}

p {
    font-size: 15px;
    line-height: 30px;
    color: #fff;
}

img {
    width: 100%;
    overflow: hidden;
}


html,
body {
    background: #1f2122;
    font-family: 'Poppins', sans-serif;
}

body .page-content {
    margin-top: 30px;
    background-color: #27292a;
    padding: 50px;
    border-radius: 23px;
}

p {
    font-size: 15px;
    color: #666;
    line-height: 30px;
    margin-bottom: 0;
}

footer p {
    text-align: center;
    padding: 30px 0;
    color: #fff;
    font-weight: 300;
}

footer p a {
    color: #fff;
    transition: all .3s;
}

footer p a:hover {
    color: #5ce1e6;
}

::selection {
    background: #5ce1e6;
    color: #fff;
}

::-moz-selection {
    background: #5ce1e6;
    color: #fff;
}

.projects-image {
    max-width: 300px;
    height: 200px;
    border-radius: 10px;
    margin: 5px 0 10px 0;
}

.project-delete-btn {
    margin: 0 auto;
    color:white
}

.project-delete-btn:hover {
    margin: 0 auto;
    color:white
}

.edit-project {
    text-align: right;
}

.edit-project p{
    margin-right: 0.5em;
}


.main-button a {
    font-size: 14px;
    color: #fff;
    background-color: #5ce1e6;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

.main-button a:hover {
    background-color: #fff;
    color: #5ce1e6;
}

.main-border-button a {
    font-size: 14px;
    color: #5ce1e6;
    background-color: transparent;
    border: 1px solid #5ce1e6;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

.main-border-button a:hover {
    border-color: #fff;
    background-color: #fff;
    color: #5ce1e6;
}

.border-no-active a {
    border-color: #666;
    color: #666;
}

.border-no-active a:hover {
    border-color: #666;
    color: #666;
    background-color: transparent;
}

section {
    margin-top: 120px;
}

.heading-section h4 {
    color: #5ce1e6;
    font-size: 34px;
    text-decoration: none;
    margin-bottom: 30px;
}

.heading-section h4 em {
    color: #fff;
    font-style: normal;
    text-decoration: none;
}


.btn-primary {
    border: 0;
    background-color: #5ce1e6;
    color: white;
    box-shadow: none;
    border-radius: 10px;
}

.btn-primary:hover {
    border: 0;
    background-color: white;
    color: #5ce1e6;
    box-shadow: none;
}

.btn-primary:focus {
    border: 0;
    background-color: white;
    color: #5ce1e6;
    box-shadow: none;
}

.btn-primary:active {
    border: 0;
    background-color: white;
    color: #5ce1e6;
    box-shadow: none;
}

.btn-danger {
    border: 0;
    color: white;
    box-shadow: none;
    border-radius: 10px;
}

.navbar {
    background-color: #1a1a1a;
}

.nav-logo {
    width: 120px;
    margin: 0 15px;
}

.nav-items {
    padding: 15px 0;
    text-align: center;
}

.nav-item-links {
    padding: 10px 10px;
}

.nav-toggle-btn:hover {
    color: #5ce1e6;
}

.active {
    color: #5ce1e6;
}

/* Home */
.main-banner {
    background: url(../images/banner-bg.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 380px;
    border-radius: 23px;
    padding: 80px 60px;
}

.main-banner h4 {
    text-shadow: 2px 2px 0 rgba(203, 0, 0, 0.76);
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.main-banner h4 em {
    font-style: normal;
    color: #5ce1e6;
}

.most-popular {
    margin-top: 60px;
    padding: 30px;
    background-color: #1f2122;
    border-radius: 23px;
}


.most-popular-item{
    border: 1px solid white;
    border-radius: 13px;
    background-color: transparent;
    margin-bottom: 0;
}

.most-popular-item:hover{
    border-color: #5ce1e6;
}


.garage-items {
    background-color: #1a1a1a;
}

.garage-items:hover {
    filter: brightness(0.7);
    transition: 0.3s ease;
    border: 2px solid #5ce1e6;
}

.item {
    text-align: center;
    border: 2px solid #fff;
    border-radius: 13px;
    padding-top: 10px
}

.item:hover {
    border: 2px solid #5ce1e6;
}

.profile-garage .last-item {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.upload-image {
    margin: 0 auto;
}

/*Dashboard*/

.search-container {

    background-color: #1f2122; /* Dark gray background */
    border-radius: 50px; /* Fully rounded corners */
    padding: 5px 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.search-icon {
    color: #b3b3b3; /* Light gray icon */
    font-size: 16px;
}

.form-control {
    color: #b3b3b3;
    font-size: 16px;
}

.form-control::placeholder {
    color: #b3b3b3; /* Light gray placeholder */
}

button {
    background: none;
    outline: none;
    color: #b3b3b3;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    color: white; /* Change color slightly on hover */
}

.post {
    border-radius: 8px;
    overflow: hidden;
}

.post-header,
.post-footer {
    padding: 10px 10px;
}

.post-header {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover; /* Ensures profile picture remains circular */
}

.username {
    font-weight: bold;
    font-size: 1.2rem;
}

.post-image {
    width: 100%;
    height: auto; /* Maintains aspect ratio */
    max-height: 600px; /* Ensures photos don't grow excessively on larger screens */
    object-fit: cover; /* Centers the photo within its container */
}

.action-buttons i {
    color: white;
    font-size: 1.5rem;
    margin-right: 15px;
    cursor: pointer;
}

.action-buttons i:hover {
    color: #5ce1e6;
}

.action-buttons .liked {
    color: #5ce1e6;
}

.caption-text {
    margin-left: 0.1rem;
}

.like-counter {
    font-size: 0.4em;
}

.modal-content {
    background-color: #333;
    border-radius: 8px;
}

.modal-header {
    background-color: #444;
    color: #ffffff;
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    padding: 0
}

.list-group-item {
    background-color: #1f2122;
    color: #ddd;
    border: 1px solid #444;
}

.btn-close:hover {
    background-color: #777;
}

.modal-body::-webkit-scrollbar {
    width: 8px;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #5ce1e6;
    border-radius: 10px;
    border: 3px solid #333; /* Border to make it look more distinct */
}

.modal-body::-webkit-scrollbar-thumb:hover {
    background-color: #5ce1e6;
}

.modal-body::-webkit-scrollbar-track {
    background-color: #444;
    border-radius: 10px;
}

.modal-body::-webkit-scrollbar-track:hover {
    background-color: #555;
}


.modal-footer {
    background-color: #333;
    border-top: 1px solid #444;
}

.input-group .form-control {
    background: #1f2122;
    color: #fff;
    border: 0;
}

.input-group .form-control:focus {
    border-color: transparent;
    box-shadow: none;
}

.input-group .btn {
    border: 0;
    background-color: transparent;
}

.input-group .btn:active {
    border: 0;
    background-color: transparent;
}


.input-group .btn:hover {
    color: #5ce1e6;
}


.comment-section-btn {
    border: none;
}

.comment-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-text p {
    padding: 5px 0 0 10px;

}

.comment-created-at {
    text-align: right;
    color: #7a7a7a;
    font-size: 0.8rem;
}

.input-group .comment-add-btn {
    background-color: #5ce1e6;
    color: white;
}

.input-group .comment-add-btn:active {
    background-color: white;
    color: #5ce1e6;
    border: 0;
    box-shadow: none;
}

.input-group .comment-add-btn:focus {
    background-color: white;
    color: #5ce1e6;
    border: 0;
    box-shadow: none;
}

.input-group .comment-add-btn:active {
    background-color: white;
    color: #5ce1e6;
    border: 0;
    box-shadow: none;
}

.input-group .comment-add-btn:hover {
    background-color: white;
    color: #5ce1e6;
    border: 0;
    box-shadow: none;
}

.comment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete-btn {
    margin-top: 2px;
    background-color: transparent;
    border: 0;
    color: #333;
    padding: 0.25rem 0.6rem;
}

.comment-edit-area {
    background-color: #333;
    resize: vertical;
    max-height: 200px;
    min-height: 50px;
    scrollbar-width: thin;
    scrollbar-color: #888 #333;
}

.comment-edit-area::-webkit-scrollbar {
    width: 8px;
}

.comment-edit-area::-webkit-scrollbar-thumb {
    background-color: #5ce1e6;
    border-radius: 10px;
    border: 3px solid #333;
}

.comment-edit-area::-webkit-scrollbar-thumb:hover {
    background-color: #5ce1e6;
}

.comment-edit-area::-webkit-scrollbar-track {
    background-color: #444;
    border-radius: 10px;
}

.comment-edit-area::-webkit-scrollbar-track:hover {
    background-color: #555;
}

.comment-edit-area:focus {
    background-color: #333;
    color: #b3b3b3;
    box-shadow: none;
}

.edit-btn {
    margin-top: 2px;
    color: #333;
}

.edit-btn:hover {
    background-color: #5ce1e6;
    color: white;
}

.save-btn {
    margin-top: 2px;
    background-color: transparent;
    border: 0;
    color: lawngreen;
}

.save-btn:hover {
    background-color: transparent;
}

.save-btn:focus {
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

.save-btn:active {
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

.cancel-btn {
    margin-top: 2px;
    font-size: 1.1rem;
    border: 0;
    background-color: transparent;
    color: red;
}

.cancel-btn:hover {
    background-color: transparent;

}

.cancel-btn:focus {
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

.cancel-btn:active {
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

.page-item .page-link {
    background-color: #1a1a1a;
    color: white;
}

.page-item .page-link:hover {
    background-color: #5ce1e6;
    color: white;
}

.page-item.active .page-link {
    background-color: #5ce1e6;
    color: white;
}

.page-item.disabled .page-link {
    background-color: #1a1a1a;
    color: #696969;
}



.copy-feedback {
    font-size: 0.9rem;
    color: #5ce1e6;
    display: inline-block;
}

.auth-card {
    width: 100%;
    max-width: 400px;
    background-color: #1e1e1e;
    color: #f5f5f5;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 20px;
}

.auth-header {
    text-align: center;
    margin-bottom: 20px;
}

.auth-input {
    background-color: #2b2b2b;
    color: #f5f5f5;
    border: 1px solid #444;
    border-radius: 6px;
}

.auth-button {
    background-color: #5ce1e6;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.auth-button:hover {
    background-color: white;
    color: #5ce1e6;
}

.auth-footer {
    text-align: center;
    margin-top: 15px;
}

.auth-link {
    color: #5ce1e6;
    text-decoration: none;
}

.auth-link:hover {
    color: white;
}



.dashboard-post {
    margin-top: 15px;
}

.profile-image {
    max-width: 40px;
    border-radius: 50%;
    margin-right: 2px;
}

.profile-details {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    gap: 10px;
}

.post-image-container {
    border-radius: 15px;
    overflow: hidden;
}

.comment-section {
    display: flex;
    flex-direction: row;
    font-size: 21px;
    color: white;
    margin-top: 5px;
    margin-left: 10px;
}


.comment-section-btn:hover {
    color: #5ce1e6;
}

.comment-section-btn:focus {
    color: #5ce1e6;
}

.liked {
    color: #5ce1e6;
}


.project-details {
    background-color: #1a1a1a;
    border-radius: 15px;
}

.project-details-list {
    background-color: #1a1a1a;
    border-radius: 15px;
}

.project-status {
    font-size: 15px;
    padding: 2px;
    max-height: 27px;
}

.project-details-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.create-project-card {
    margin: 0 auto;
    max-width: 600px;
}

.start-stream .heading-section {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 60px;
}

.start-stream .item {
    padding: 30px;
    border: 1px solid #444;
    border-radius: 23px;
}

.start-stream .item h4 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}

.start-stream .main-button {
    text-align: center;
    margin-top: 30px;
}



.feature-banner .thumb {
    position: relative;
    max-height: 305px;
    overflow: hidden;
    border-radius: 23px;;
}

.feature-banner .thumb a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-23px, -23px);
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    color: #5ce1e6;
}

.profile-details {
    background-color: #1a1a1a;
    border-radius: 15px;
}

.profile-info {
    border-radius: 15px;
}

.profile-info strong {
    color: #5ce1e6;
}

.profile-info-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0;
}

.image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}

.image-container:hover img {
    filter: brightness(0.7);
}

body {
    overflow-x: hidden;
}

@media (max-width: 767px) {
    body .page-content {
        padding: 30px 15px;
    }
    .main-banner {
        text-align: center;
    }

    .main-banner h4 {
        font-size: 35px;
    }

    .image-grid {
        grid-template-columns: auto;
    }

}

@media (max-width: 992px) {
    .background-header {
        display: inline-block;
    }

    .header-area .main-nav #search {
        display: none;
    }

    .heading-section h4 {
        font-size: 20px;
    }

    .main-profile .main-info {
        margin: 45px 0;
    }

    .image-grid {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 1200px) {
    .header-area .main-nav .nav li {
        padding-right: 5px;
        padding-left: 5px;
    }

    .header-area .main-nav .logo {
        margin-right: 30px;
        border-right: none;
    }

    .gaming-library .item ul li {
        width: 16%;
    }
}