{% extends 'base.html' %}
{% load cloudinary %}


{% block content %}
    {% cloudinary image.image %}
    <form method="post" action="{% url 'comment-create' image.pk %}">
        {% csrf_token %}
        <input type="hidden" name="image_pk" value="{{ image.pk }}">
        {{ form }}
        <button>Add</button>
    </form>
    {% for comment in object_list %}
        <h1>{{ comment.user.username }}</h1>
        <p id="comment-{{ comment.pk }}">{{ comment.text }}</p>
        <span>{{ comment.created_at }}</span>
        <form method="post" action="{% url 'comment-delete' image.pk comment.pk %}">
        {% csrf_token %}
        <button><i class="fa-solid fa-trash"></i></button>
        </form>
        <a href="{% url 'comment-edit' image.pk comment.pk%}"><button><i class="fa fa-pencil" aria-hidden="true"></i></button></a>
    {% endfor %}
    <a href="{% url 'dashboard'%}#image-{{ image.pk }}">Return to Dashboard</a>
    <a href="{% url 'project-details' image.project.pk %}">Project Details</a>
{% endblock %}