{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    
    <div class="search-input">
        <form id="search" action="{% url 'dashboard' %}">
            <div class="search-container input-group">
            <span class="input-group-text bg-transparent border-0 search-icon">
                <i class="fa fa-search" aria-hidden="true"></i> 
            </span>
                <input type="text" name="search" class="form-control bg-transparent border-0 text-light"
                       placeholder="Search posts, projects, users..." value="{{ request.GET.search|default:'' }}">
                <button type="submit" class="btn btn-transparent border-0">
                    <i class="bi bi-arrow-right-circle text-light"></i>
                </button>
            </div>
        </form>
    </div>
    <hr class="my-4">
    
    {% if object_list %}
        
        {% for object in object_list %}
            {% include 'base/project-post.html' %}
            <hr class="my-4">
        {% endfor %}
        
        <div class="pagination d-flex justify-content-center mt-4">
            <nav aria-label="Page navigation">
                <ul class="pagination">

                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?search={{ request.GET.search|urlencode }}&page={{ page_obj.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link" aria-hidden="true">&laquo;</span>
                        </li>
                    {% endif %}

                    <li class="page-item {% if page_obj.number == 1 %}active{% endif %}">
                        <a class="page-link" href="?search={{ request.GET.search|urlencode }}&page=1">1</a>
                    </li>

                    {% if page_obj.number > 3 %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        
                        {% if num >= page_obj.number|add:'-1' and num <= page_obj.number|add:'1' and num != 1 and num != page_obj.paginator.num_pages %}
                            <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                                <a class="page-link"
                                   href="?search={{ request.GET.search|urlencode }}&page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                        
                    {% endfor %}

                    {% if page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}

                    {% if page_obj.paginator.num_pages > 1 %}
                        <li class="page-item {% if page_obj.number == page_obj.paginator.num_pages %}active{% endif %}">
                            <a class="page-link"
                               href="?search={{ request.GET.search|urlencode }}&page={{ page_obj.paginator.num_pages }}">
                                {{ page_obj.paginator.num_pages }}
                            </a>
                        </li>
                    {% endif %}
                
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?search={{ request.GET.search|urlencode }}&page={{ page_obj.next_page_number }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link" aria-hidden="true">&raquo;</span>
                        </li>
                    {% endif %}
                
                </ul>
            </nav>
        </div>
    {% else %}
        <h4 class="text-center">No posts</h4>
    {% endif %}
    
{% endblock %}
