{% extends 'base/base.html' %}
{% load static %}
{% load cloudinary %}

{% block content %}
    
    <div class="main-banner">
        <div class="row">
            <div class="col-lg-7">
                <div class="header-text">
                    <h4><em>Explore the craziest car builds here</em>.</h4>
                    <div class="main-button">
                        <a href="{% url 'dashboard' %}">Explore Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="most-popular py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb-4">
                    <div class="heading-section">
                        <h4><em>Most Popular</em> Right Now</h4>
                    </div>
                    <hr class="my-4">
                </div>
            </div>
            <div class="row">

                {% for object in object_list %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <a href="{% url 'project-post-details' object.project.pk object.pk %}"
                           class="text-decoration-none">
                            <div class="p-3 most-popular-item">
                                <div class="image-container mb-2">
                                    {% cloudinary object.image class="img-fluid rounded-3" %}
                                </div>
                                <h5 class="mb-1">{{ object.project.name }}</h5>
                                <p class="text-muted mb-2">{{ object.project.brand_and_model }}</p>
                                <div>
                                    Likes: {{ object.likes.count }}
                                </div>
                            </div>
                        </a>
                    </div>
                {% empty %}
                    <h4 class="text-center">No posts</h4>
                {% endfor %}
            
            </div>
        </div>
    </div>
    
{% endblock %}
