{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block content %}
    <div class="main-banner">
        <div class="row">
            <div class="col-lg-7">
                <div class="header-text">

                    <h4><em>Explore the craziest car builds here</em>.</h4>
                    <div class="main-button">
                        <a href="{% url 'dashboard' %}">Explore Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="most-popular">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-section">
                    <h4><em>Most Popular</em> Right Now</h4>
                </div>
                <div class="row">
                    {% for object in object_list %}
                        <div class="col-lg-3 col-sm-6">
                            <a href="{% url 'dashboard' %}#image-{{ object.pk }}">
                                <div class="item">
                                    {% cloudinary object.image %}
                                    <h4>{{ object.project.name }}<br><span>{{ object.project.make_and_model }}</span>
                                    </h4>
                                    <ul>
                                        <li><span>Likes</span>{{ object.likes.count }}</li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}