{% load static %}
{% load cloudinary %}
{% load is_active %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>CarLoud</title>

    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <script src="{% static 'js/app.js' %}"></script>

</head>

<body>

<header class="header-area header-sticky">

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">

            <a href="{% url 'index' %}">
                <img src="{% static 'assets/images/car-loud-logo.png' %}" class="nav-logo" alt="nav-logo">
            </a>

            <button class="navbar-toggler nav-toggle-btn" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-items">
                        <a href="{% url 'index' %}"
                           class="{% if request.path == '/' %}active{% endif %} nav-item-links">Home</a>
                    </li>

                    <li class="nav-items">
                        <a href="{% url 'dashboard' %}"
                           class="{% is_active '/dashboard/' %} nav-item-links">Dashboard</a>
                    </li>

                    {% if request.user.is_authenticated %}
                        <li class="nav-items">
                            <a href="{% url 'user-garage' request.user.pk %}"
                               class="{% is_active '/projects/garage/' %} nav-item-links">Garage</a>
                        </li>
                    {% endif %}

                    <li class="nav-items">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'user-details' request.user.pk %}"
                               class="{% is_active '/accounts/' %} nav-item-links">Profile
                            </a>
                        {% else %}
                            <a href="{% url 'user-login' %}"
                               class="{% is_active '/accounts/' %} nav-item-links">Login
                            </a>
                        {% endif %}
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">

                {% block content %}
                {% endblock %}

            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright © 2024 <a href="https://github.com/martin-dimchev">Martin Dimchev</a>
                    <br>All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>