{% load cloudinary %}
{% load is_liked %}
{% load static %}
<div class="row">

<div class="container mt-4">
    <div class="post">
        <!-- Post Header -->
        <div class="post-header d-flex align-items-center">
            <a href="{% url 'user-details' object.project.user.pk %}">
                {% if object.project.user.profile.image %}
                    {% cloudinary object.project.user.profile.image class="profile-image" %}
                {% else %}
                    <img
                            src="{% static 'assets/images/anonymous-user.jpg' %}"
                            alt="profile-image"
                            class="profile-image">
                {% endif %}

                <span class="username">

                    {{ object.project.user.username }}

            </span>
            </a>
        </div>
    
        <div class="post-image-container">
            {% cloudinary object.image class="post-image" %}
        </div>
    
        <div class="post-footer">
          
            <div class="d-flex justify-content-between mb-2">

                <div class="action-buttons">
                    <i class="fa fa-hand-o-up {% is_liked request.user object.pk %}" aria-hidden="true" data-image-id="{{object.pk}}">
                        <span class="like-counter">{{ object.likes.count }}</span>
                    </i>
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <i class="fa fa-share" aria-hidden="true"></i>
                </div>
                <a href="{% url 'project-details' object.project.pk %}">Project: {{ object.project.title }}</a>
            </div>
        
            {% if object.caption %}
                <p class="caption">
                    <strong><a href="{% url 'user-details' object.project.user.pk %}">
                        {{ object.project.user.username }}
                    </a></strong> <span class="caption-text">"{{ object.caption }}"</span>
                </p>
            {% endif %}
        </div>
    </div>
</div>
</div>

